<!DOCTYPE html>
<html lang="en">
    <html lang="en">
        <%- include('./partials/head') %>
        <!-- body tag... -->
    </html>
<body>
<h1><%= message %></h1>
<p>Response created using EJS</p>
</body>
</html>